<!DOCTYPE html>

<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Starter</title>
</head>

<body ng-app="Webmail" ng-controller="WebmailCtrl">

  <section class="features">
    <header>
      <ul class="features_it">
        <li class="features_items" ng-repeat="dossier in dossiers" class=""><a ng-click = "selectionDossier(dossier)" class="features_items_link" href="">{{dossier.label}}</a></li>
      </ul>
    </header>

    <div>
      <div ng-repeat="video in dossierCourant.videos " class="filme" ng-click="selectionVideo(video)">{{video}}
      </div>
        <div class="container">
          <div class="row">
            <div class="col-md-12">

              <form class="form" action="index.html" method="post">
                <div ng-bind-html="video." ng-repeat="video in dossierCourant.videos.input" class="col-md-6">
                  <label for="">{{video.label}}</label>
                  <input class="input" type={{video.type}} name={{video.name}} value="" placeholder={{video.placeholder}}>
                  </div>
                  <div class="submit" class="col-ms-12">
                    <input type="submit" name="submit" value="envoyer">
                  </div>

              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="features_home">
      </div>
      <div class="features_text">
        <h1 class="features_text_hello">
  Hello
  </h1>
        <h1 class="features_text_world">
  World !
  </h1>
      </div>
      <div class="features_img">

      </div>
  </section>

  <script type="text/javascript" src="./index.js"></script>
</body>

</html>